<div>
    <!--Carousel-->
    <div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../assets/Images/tv3.jpg" style="height:400px" class="d-block w-100" alt="image1">
                </div>
                <div class="carousel-item">
                    <img src="../assets/Images/tv2.jpg" style="height:400px" class="d-block w-100" alt="image2">
                </div>
                <div class="carousel-item">
                    <img src="../assets/Images/tv1.jpg" style="height:400px" class="d-block w-100" alt="image3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!--Styling and using the properties-->
    <div>
        <div *ngFor="let tv of television">
            <div class="row" style="margin-botton:20px;">
                <!--1st column-->
                <div class="col col-lg-3">
                    <img src="{{tv.image}}" style="margin-left:100px;margin-top: 30px;" alt="left-image">
                </div>
                <!--2nd column-->
                <div class="card col-lg-6">
                    <div class="card-body col-lg-12">
                        <div class="row" style="margin-top: 10px; border-style:solid; border-color:black;">
                            <div class="col-lg-3">
                                <img src="{{tv.image}}" alt="content-image">
                            </div>
                            <div class="col-lg-9" style="margin-top:20px;">
                                <div style="font-weight:bold;">
                                    Product:{{tv.pname|uppercase}}
                                    <span (click)="showtvdetailsToggle()" [ngClass]="toggleContent()"></span>
                                </div>
                                <div [ngSwitch]="tv.status" style="font-weight:bold;">
                                    <span *ngSwitchCase="'In Stock'" class="text-success">
                                        {{tv.status }}
                                    </span>
                                    <span *ngSwitchCase="'Out of Stock'" class="text-danger">
                                        {{tv.status }}
                                    </span>
                                </div>
                                <hr>
                                <div [hidden]="productDetail">
                                    <div style="color:blue;">Description:{{tv.pdescription}}</div>
                                    <br>
                                    <div style="font-weight:bold;">Price:{{tv.price|currency:'INR'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--3rd column-->
                <div class="col col-lg-3">
                    <img src="{{tv.image}}" style="margin-left: 100px; margin-top: 30px;" alt="right-image">
                </div>
            </div>
        </div>
    </div>
</div>